@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');
.header ul > li {
  display: inline;
}

footer {
  margin-top: 100px;
  margin-bottom: -20px;
}

footer .Contact-us {
  text-align: center;
  margin-bottom: 20px;
  transform: translateX(-10px);
  font-size: 1.4rem;
  font-weight: bolder;
}

hr {
  margin-top: 50px;
  margin-bottom: -70px;
  height: 2px;
  border-radius: 10px;
}
.row2 {
  height: 2px;
  margin-bottom: 20px;
}

main {
  margin-top: 50px;
  margin-bottom: 100px;
}

.content-container {
  display: flex;
  background-color: #1f3c53;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.content-container img {
  width: 100%;
  border-radius: 10px 10px;
  padding-bottom: 50px;
}

.content-container p {
  font: 'Work Sans';
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.content-container button {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #1f3c53;
  color: white;
  border: none;
  font-size: 2rem;
  transition: 0.5s ease;
}
.content-container button:hover {
  color: #ffae21;
  cursor: pointer;
}
.para-start {
  padding: 10px;
}
