@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
  border: none;
}
body {
  overflow-x: hidden;
}

:root {
  --background-clr: #223341;
  --txt-clr: #ffae21;
}
/* =========================HEADER SECTION-----NAVBAR=============== */
.Orange-txt {
  color: #ffae21;
}
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #223341;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.3s ease;
}
.header img {
  filter: invert(100%);
  position: absolute;
  bottom: -20%;
  right: 47%;
}
.hlf {
  font-weight: bolder;
  color: #ffae21;
}
.logo {
  font-size: 2.5rem;
  margin-left: 2rem;
  transition: 0.5s ease;
}
.navbar {
  margin-right: 2rem;
  display: flex;
  transition: 0.3s ease;
}
.navbar li {
  font-size: 1.2rem;
  margin-top: 16px;

  margin-right: 15px;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
}
.navbar a:hover,
.logo:hover {
  color: #ffae21;
  transform: scale(1.1);
  cursor: pointer;
}
/* ===================== Main section ------ About us-============== */

.about-us {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  /* margin-bottom: 30px; */
}
.background-img {
  background-image: url(barbell.jpg);
  width: 100%;
  height: 800px;
  background-size: cover;

  background-color: #223341;
  position: relative;
}
.overlay-clr {
  background-color: #22334180;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.headings {
  position: absolute;
  top: 80%;
  color: white;
  z-index: 10;
  margin-left: 10px;
}

.about-container {
  background-color: #223341;
}
.para-1 {
  margin-top: 0px;
  text-align: center;
  padding: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* -------------================Section alignment=====-------------- */

.sect-align {
  background-color: #223341;
  margin-top: 25px;
  margin-left: 3rem;
  margin-right: 3rem;
  color: white;
  text-align: justify;
  border-radius: 10px;
  position: relative;
}

/* -------------================POWERLIFTING SECTION=====-------------- */
.vertical-line {
  height: 500px;
  width: 5px;
  background-color: white;
  transform: translateY(30px);
}
.first-img {
  width: 100%;
  height: 500px;
  border-radius: 10px 10px 0px 0px;
}
.heading {
  text-align: center;
  font-weight: bolder;
}
#p-lifting-header {
  position: absolute;
  text-align: center;
  border-radius: 15px;
  font-size: 2.5rem;
  font-weight: bolder;
  top: 35%;
  left: 37%;

  padding: 5px;
  width: 20%;
  background-color: #2233419f;
}
.con {
  width: 500px;
  height: 550px;
  font-size: 1rem;
}

.paragraphs {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 70px;
}

/* --------==================BODY-BUILDING SECTION========--------- */

.bodybuilding-heading {
  position: absolute;
  right: 20px;
  top: 0px;
  background-color: #223341;
  padding: 10px;
  border-radius: 0px 0px 0px 10px;
}
.Bodybuilding-section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.white-bg-grid {
  background-color: white;
  color: #223341;
}

.calis-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  margin-top: 10px;
  padding: 0;
  margin-left: -3px;
  margin-top: -5px;
}
.para-2 {
  width: 500px;
}

.aesth-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;

  margin-top: 10px;
  position: relative;
}

.calisthenics {
  position: absolute;
  font-size: 2rem;
  color: white;
  bottom: 52%;
  left: 30%;
}

.aesthetics {
  position: absolute;
  z-index: 1;
  /* top: 0; */
  bottom: 20px;
  color: white;
  font-size: 2rem;
  right: 35%;
}

.PowerLifting-sect {
  background-image: url(pictures/forpowerlifting.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  color: white;
  height: auto;
  width: 90%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  padding: 50px;
  z-index: -1;
  border-radius: 10px;
  flex-direction: column;
}
.linear-gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.8) 10%,
    #30689679 30%,
    #223341 40%
  );
  background-position: 100% 100%;

  background-size: 300% 300%;
  /* animation-iteration-count: infinite; */
  /* animation-fill-mode: forwards; */
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
}
.background-animation {
  animation: backgroundColor 1s ease;

  animation-fill-mode: forwards;
}
.para-content-PL {
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  z-index: 10;
  gap: 20px;
}
.powerlifting-para {
  width: 100%;
}
.bodyBuilding-para {
  /* background-color: var(--background-clr); */

  padding: 20px;
  /* color: white; */
  border-radius: 10px;
}

/* -------------------------=============================SLIDER-SECTION===========------------------ */
.slider-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solid {
  color: #ffae21;
}
.slide p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #223341;
  border-radius: 0px 0px 15px 15px;
  margin: 1px;
}
.slider {
  width: 800px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  cursor: pointer;
  z-index: 1;
  border: 3px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #ffae21;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div {
  border: 3px solid #223341;
  padding: 5px;
  border: 10px;
  transition: 1s;
  border-radius: 10px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 46px;
  margin-top: 3px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #ffae21;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #ffae21;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #ffae21;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #ffae21;
}
/* --------------------------------------------------------------=====================COACHS SECTION=====================---------------------------------- */

.section-header {
  text-align: center;
  margin-bottom: 100px;
  background-color: #223341;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 100px;
  border-radius: 10px;
  padding: 10px;
}
.card {
  border: none;
  margin-bottom: 100px;
}
.card img {
  border-radius: 10px 10px 0px 0px;
}
.coach-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.name {
  background-color: #223341;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  margin-top: 1px;
}

/* ---------------==========================SPORT SECTION==================--------------- */
.sport-section {
  margin-bottom: 100px;
  margin-top: 50px;
  display: flex;
  transform: translateX(35px);
  justify-content: center;
}

.section-seperator {
  text-align: center;
  opacity: 0.7;
}
.sport-section a > img {
  transition: 0.5s ease;
}
.sport-section a {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  transition: 0.5s ease;
  text-decoration: none;
  color: #1f3b5392;
  font-weight: bold;
}
.sport-section a:hover {
  color: #ffae21;
}
.power-link {
  margin-left: 20px;
}
.sport-section a > img:hover {
  filter: invert(80%) sepia(30%) saturate(11207%) hue-rotate(0deg)
    brightness(95%) contrast(150%);
  transform: scale(1.1);
  color: #ffae21;
}

/* -----------===================FOOTER SECTION============------------ */

footer {
  display: flex;
  margin-bottom: 20px;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
}

.footer-content {
  background-color: white;
  height: 200px;
  border-radius: 0px 300px 0px 220px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.footer-content ul {
  display: flex;
  text-align: center;
  margin-right: 10px;
  justify-content: center;
}
.Contact-us {
  text-align: center;
  margin-top: 100px;
}
.footer-content ul > li {
  margin-right: 35px;
  list-style: none;
}

.footer-content a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #1f3c53;
  opacity: 0.5;
  transition: 0.5s ease;
}
.footer-content a:hover {
  color: #ffae21;
  opacity: 1;
  cursor: pointer;
}

#v-line {
  width: 0.1rem;
  opacity: 0.5;
  border-radius: 10px;
  z-index: -10;
  background-color: #1f3c53;
  height: 30px;
  transform: translateX(-20px);
}

.footer-section {
  background-color: #1f3c53;
  width: 100%;
  height: 100%;
}

.footer-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1f3c53;
}
.footer-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s ease;
}
.footer-btn a:hover {
  color: #ffae21;
  cursor: pointer;
}

.content-container {
  display: flex;
  background-color: #1f3c53;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  color: white;
  height: auto;
  position: relative;
  margin-bottom: 200px;
  /* border-radius: 10px; */
}
.content-container img {
  width: 75%;
  height: 500px;
  /* border-radius: 10px; */
  margin-bottom: 50px;
  border-radius: 0px 0px 20px 20px;
  border: 5px solid #37526780;
  box-shadow: 0px 30px 50px 0px black;
}
.content-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-container p {
  font: 'Work Sans';
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

/* .content-container a {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #1f3c53;
  color: white;
  border: none;
  font-size: 2rem;
  transition: 0.5s ease;
  text-decoration: none;
  box-shadow: 0px 0px 0px 0px #1f3c53;
  border-radius: 0px 0px 20px 20px;
} */

#last-article {
  width: 50%;
  margin: auto;
  text-align: justify;
}
#para-start {
  width: 50%;
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
}

.Weightlifting-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
}
.article-lifting {
  text-align: justify;
  margin-right: 100px;
  z-index: 1;
}
.section-image {
  position: relative;
}

.section-image img {
  border-radius: 10px 0px 0px 10px;
}
.image-header {
  position: absolute;
  bottom: 10px;
  font-size: 1.5rem;
  left: 65%;
}

::-webkit-scrollbar {
  width: 1em;
  /* height: 500px; */
}
::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px var(--background-clr);
  /* border-radius: 10px; */
  /* margin-block: 100px; */
  background-color: var(--background-clr);
}
::-webkit-scrollbar-thumb {
  background: #244662;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #32495d;
}

.easy-start {
  text-align: center;
  color: white;
  background-color: var(--background-clr);
  padding: 20px;
  margin-left: 32rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-bottom: 50px;
  border-radius: 0px 0px 10px 10px;
}
.easy-start a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.easy-start a:hover {
  color: var(--txt-clr);
  cursor: pointer;
}
.slider-section {
  display: flex;
  justify-content: space-between;
}
.sliderTxt-container {
  font-size: 1.5rem;
  width: 75%;
  margin: auto;
  text-align: center;
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100px);

  transition: all 1s;
}

.show {
  filter: blur(0px);
  transform: translateY(0px);

  opacity: 1;
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}

.section-coach {
  width: 90%;
  border-radius: 10px;
  margin: 200px auto;
  height: auto;
  margin-bottom: 200px;
  background: url(pictures/background\ web.png);
  background-color: var(--background-clr);
  background-position: -50px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  background-blend-mode: lighten;
  border: none;
  padding: 50px;
}

.coachs-header {
  text-align: center;
  color: white;
}

.coach-card {
  width: 250px;
  height: auto;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;

  background-color: #2e4659;
  /* padding-top: 50px; */
  border-radius: 10px 10px 10px 10px;
  z-index: 1;
  gap: 50px;
  margin: 20px;
  /* column-gap: 50px; */
}

.container-ids {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin-right: 70px;
}

.coach-card img {
  border-radius: 10px 10px 0px 0px;
}
.coach-card:nth-child(1) {
  /* margin-bottom: 50px; */
  transition-delay: 400ms;
}
.coach-card:nth-child(2) {
  /* margin-top: 50px; */
  transition: 600ms;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100px);
  transition: 1s all;
}

.shown {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0px);
}

.button {
  width: 20%;
  margin: auto;
  background-color: var(--background-clr);
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  opacity: 0;
  transition: 0.3s ease;
  color: white;
  text-decoration: none;
}
.content-container a:hover {
  color: #ffae21;
  cursor: pointer;
  box-shadow: 0px 25px 35px 0px #1f3b5372;
}
.no-slide {
  opacity: 0;
}

.slide-down {
  animation: slide-down-animate 0.5s ease 250ms;
  animation-fill-mode: forwards;
}

@keyframes slide-down-animate {
  0% {
    z-index: -1;
    opacity: 0;
    transform: translateY(-50px);
  }
  90% {
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 1;
    transform: translateY(60px);
  }
}
.no-top-slide {
  z-index: -1;
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.8s ease;
}
.top-slide {
  z-index: 1;
  opacity: 1;
  transform: translateY(0px);
}

.head-align {
  text-align: center;
}

@keyframes backgroundColor {
  100% {
    background-position: 0% 0%;
  }
}
.bodybuilding-header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.bodybuilding-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Bodybuilding-section {
  margin-bottom: 100px;
}
.img {
  border-radius: 50%;
  border: 10px solid var(--background-clr);
  /* opacity: 0.9; */
  background: var(--background-clr);
  background-size: cover;
  background-position: 300% 300%;
}

.img-container {
  height: 350px;
  width: 400px;
  position: relative;
  background-color: var(--background-clr);
  border-radius: 50%;
}

.small-header-1 {
  position: absolute;
  bottom: 10px;
  right: 33%;
  color: white;
}

.small-header-2 {
  position: absolute;
  bottom: 20px;
  left: 35%;
  color: white;
}
.no-opacity {
  opacity: 0;
}
.appear-onslide {
  animation: appear-onslide 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes appear-onslide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-container {
  margin-top: 50px;
  opacity: 0;
}

.img-con-onslide {
  animation: appear-con-onslide 550ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes appear-con-onslide {
  0% {
    margin-top: 50px;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    margin-top: 0px;
    opacity: 1;
    filter: blur(0px);
  }
}
