@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

body {
  height: auto;
}
:root {
  --backgroundClr: #223341;
  --textClr: #ffae21;

  --med-text: 1rem;
  --lrg-txt: 2rem;
  --small-txt: 0.7rem;
}

::-webkit-scrollbar {
  width: 1em;
  /* height: 500px; */
}
::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px var(--background-clr);
  border-radius: 10px;
  margin-block: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: #223341;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #32495d;
}
/* --------------========= Main Body Content style ==========----------------- */

.bg-img {
  background-image: url(pictures/pexels-victor-freitas-1092878.jpg);

  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  margin-top: 10px;
  /* margin-bottom: 150px; */
  background-size: cover;
  background-position: 0px -200px;
  background-repeat: no-repeat;
  position: relative;
}
.headers {
  margin-bottom: 10px;
  z-index: 100;
}

.overlay-clr {
  position: absolute;
  opacity: 0.7;

  width: 100%;
  height: 100%;
  background-color: var(--backgroundClr);
}

/* ----------------=============== second header =========-------------- */

.form-container {
  position: relative;
  width: 75%;
  margin: auto;
  height: auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.form-container h4 {
  text-align: center;
}
.form-header {
  background-color: #22334177;
  width: 20%;
  color: white;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  font-size: 1rem;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  width: 90%;
  margin: auto;
  gap: 1px;
  font-weight: bold;
}
.second-header {
  background-color: #223341;
  width: 100%;
  color: white;
  padding: 20px;
  margin-bottom: 50px;
}
hr {
  width: 75%;
  margin: 20px;
}

.form-container form > input {
  margin-right: 40px;
}

.form {
  margin-bottom: 50px;
}

.small-text {
  font-size: var(--small-txt);
}
textarea {
  resize: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#questions-form {
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: repeat(6, 200px);
  grid-row-gap: 50px;
  grid-column-gap: 10px;
  align-items: center;
  /* justify-items: center; */
}

.image-container img {
  border-radius: 50%;
  border: 5px solid var(--backgroundClr);
}

#account-container {
  display: flex;
  gap: 5px;
}
#account-container .form-header {
  margin-bottom: 30px;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-container button {
  background-color: var(--backgroundClr);
  font-size: var(--med-text);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
