@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

body {
  height: auto;
}
:root {
  --backgroundClr: #223341;
  --backgroundClr-light: #22334165;
  --textClr: #ffae21;

  --med-text: 1rem;
  --lrg-txt: 2rem;
  --small-txt: 0.7rem;
}

::-webkit-scrollbar {
  width: 1em;
  /* height: 500px; */
}
::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px var(--background-clr);
  /* border-radius: 10px;
   */
  /* margin-block: 100px; */
  background-color: var(--backgroundClr);
}
::-webkit-scrollbar-thumb {
  background-color: #183953;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #32495d;
}
/* --------------========= Main Body Content style ==========----------------- */

.bg-img {
  background-image: url(pictures/pexels-victor-freitas-1092878.jpg);

  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 50px;
  background-size: cover;
  background-position: 0px -200px;
  background-repeat: no-repeat;
  position: relative;
}
.headers {
  margin-bottom: 10px;
  z-index: 100;
}

.overlay-clr {
  position: absolute;
  opacity: 0.7;

  width: 100%;
  height: 100%;
  background-color: var(--backgroundClr);
}

/* ----------------=============== second header =========-------------- */

.form-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.form-container h4 {
  text-align: center;
}
.form-header {
  background-color: #22334177;
  width: 20%;
  color: white;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  font-size: 1rem;
  transition: 0.3s ease;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  width: 90%;
  margin: auto;
  gap: 50px;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border: 5px solid var(--backgroundClr);
}
.second-header {
  background-color: #223341;
  width: 100%;
  color: white;
  padding: 20px;
  margin-bottom: 0px;
}
hr {
  width: 75%;
  margin: 20px;
}

.form-container form > input {
  margin-right: 40px;
}

.form {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.small-text {
  font-size: var(--small-txt);
}
textarea {
  resize: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#questions-form {
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: repeat(4, 200px);
  grid-row-gap: 50px;
  grid-column-gap: 10px;
  align-items: center;
  /* justify-items: center; */
}

.image-container img {
  border-radius: 50%;
  border: 5px solid var(--backgroundClr);
}

#account-container {
  display: flex;
  gap: 30px;
  position: relative;
}
#account-container .form-header {
  margin-bottom: 0px;
}

#account-container .form-header {
  margin-bottom: 30px;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateY(-20px);
}
.image-container button {
  background-color: var(--backgroundClr-light);
  font-size: 0.8rem;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: none;
  transition: 0.5s ease;
}

.btn-add:hover {
  color: var(--textClr);
  background-color: var(--backgroundClr);
  cursor: pointer;
}

input {
  border: 1px solid var(--backgroundClr);
  border-radius: 5px;
  padding: 1px;
  transition: 0.3s all;
}

textarea {
  border-radius: 10px;
  background-color: var(--backgroundClr-light);
  color: white;
  border: none;
  transition: 0.3s ease;
}

textarea::placeholder {
  color: white;
  transform: translateY(15px);
}

input:focus {
  border: 2px solid var(--backgroundClr);
}

textarea:focus {
  background-color: var(--backgroundClr);
}

.background-blue {
  background-color: var(--backgroundClr);
  width: 100%;
}

.btn-submit {
  padding: 10px 10px;
  font-size: 1.3rem;
  border: none;
  background-color: var(--backgroundClr);
  border-radius: 10px;
  color: white;
  transition: 0.3s all;
}

.btn-submit:hover {
  color: var(--textClr);
  cursor: pointer;
}

#message {
  position: absolute;
  font-size: 0.7rem;
  width: 250px;
  padding: 3px;
  left: 420px;
  bottom: -30px;
  display: none;
  /* background-color: var(--backgroundClr-light); */
  transition: 0.3s ease;
}

.invalid {
  color: red;
  transition: 0.3s all;
}

.invalid:before {
  position: relative;
  left: 0;
  content: '✖';
  transition: 0.3s all;
}
.valid {
  color: green;
  transition: 0.3s all;
}

.valid:before {
  position: relative;
  left: 0;
  content: '✔';
  transition: 0.3s all;
}
