@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

:root {
  --backgroundClr: #223341;
  --textClr: #ffae21;
}

::-webkit-scrollbar {
  width: 1em;
  /* height: 500px; */
}
::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px var(--background-clr);
  border-radius: 10px;
  margin-block: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: #223341;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #32495d;
}
/* --------------========= Main Body Content style ==========----------------- */

.bg-img {
  background-image: url(pictures/pexels-victor-freitas-1092878.jpg);

  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 150px;
  background-size: cover;
  background-position: 0px -200px;
  background-repeat: no-repeat;
  position: relative;
}
.headers {
  margin-bottom: 10px;
  z-index: 100;
}

.overlay-clr {
  position: absolute;
  opacity: 0.7;

  width: 100%;
  height: 100%;
  background-color: var(--backgroundClr);
}

/* -------============== Main Section inputs =========--------------- */

.inputs-section {
  height: 500px;
  background-color: #223341a8;
  color: black;
  display: flex;
  width: 90%;
  width: max-content;

  margin: auto;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
}
.box-header {
  position: absolute;
  color: white;
  top: 10px;
  background-color: #223341b7;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}
.bg-clr {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  background-color: white;
  width: 95%;
  border-radius: 25px;
  height: 100%;
}

.form {
  display: flex;

  width: 100%;
  align-items: flex-start;
  margin-right: 200px;

  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.form input {
  margin-bottom: 20px;
}
.input {
  border: 0.5px solid #223341;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s ease;
  width: 200px;
}

label {
  color: #263c4e;
  font-weight: bolder;
}

.input:focus {
  border: 0.5px solid var(--backgroundClr);
  width: 230px;
}

.v-line {
  position: absolute;
  height: 300px;
  width: 5px;
  top: 20%;
  opacity: 0.6;
  border-radius: 10px;
  background-color: #223341;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hidden {
  display: none;
  visibility: hidden;
}
.button-container {
  display: flex;
  align-items: flex-end;
  height: 250px;
}
.submit {
  margin-right: 100px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: var(--backgroundClr);
  border-radius: 10px;
  color: white;
  opacity: 0.7;
  border: none;
  transition: 0.5s ease;
}

.submit:hover {
  color: var(--textClr);
  opacity: 1;
  cursor: pointer;
}

#results-container {
  background-color: var(--backgroundClr);
  height: 200px;
  width: 250px;
  position: absolute;
  right: 50px;

  border-radius: 20px;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

#results {
  background-color: white;
  height: 90%;
  width: 90%;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
}

.Next-page {
  background-color: var(--backgroundClr);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin-top: 50px;
  margin-right: 50px;
  color: white;
  font-weight: bolder;
  transition: 0.5s ease;
  opacity: 0.7;
  font-size: 1.5rem;
}

.Next-page a {
  text-decoration: none;
  color: white;
  background-color: #223341;
  transition: 0.5s ease;
  opacity: 0.7;
}

.Next-page:hover {
  opacity: 1;
  color: var(--textClr);
  cursor: pointer;
  background-color: var(--backgroundClr);
}
#next-pg:hover {
  color: var(--textClr);
  opacity: 1;
}
.refresh {
  position: absolute;
  padding: 10px;
  font-size: 1.5rem;
  background: var(--backgroundClr);
  color: white;
  top: 30px;
  right: 50px;
  border-radius: 10px/20px;
  transition: 0.5s ease;
}
.refresh:hover {
  color: var(--textClr);
  cursor: pointer;
}

.small-txt {
  font-size: 0.7rem;
  opacity: 0.7;
}
