.Orange-txt {
  color: #ffae21;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #223341;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.3s ease;
  font-weight: bold;
}
.header img {
  filter: invert(100%);
  position: absolute;
  bottom: -20%;
  right: 46.5%;
}
.hlf {
  font-weight: bolder;
  color: #ffae21;
}
.logo {
  font-size: 2.5rem;
  margin-left: 2rem;
  transition: 0.5s ease;
}
.navbar {
  margin-right: 2rem;
  display: flex;
  transition: 0.3s ease;
}
.navbar li {
  font-size: 1.2rem;
  margin-top: 16px;

  margin-right: 15px;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
}
.navbar a:hover,
.logo:hover {
  color: #ffae21;
  transform: scale(1.1);
  cursor: pointer;
}

/* ---------------================ FOOTER ====================------------- */
footer {
  display: flex;
  margin-bottom: 20px;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  margin-top: 150px;
}

.contact-links {
  margin-bottom: 5px;
}
.footer-content {
  background-color: white;
  height: 200px;
  border-radius: 0px 300px 0px 220px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.footer-content ul {
  display: flex;
  text-align: center;
  margin-right: 10px;
  justify-content: center;
}
.Contact-us {
  text-align: center;
  font-size: 1.5rem;
  font-weight: light;
  margin-top: 110px;
  margin-bottom: 10px;
}
.footer-content ul > li {
  margin-right: 35px;
  list-style: none;
}

.footer-content a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #1f3c53;
  opacity: 0.5;
  transition: 0.5s ease;
}
.footer-content a:hover {
  color: #ffae21;
  opacity: 1;
  cursor: pointer;
}

#v-line {
  width: 0.1rem;
  opacity: 0.5;
  border-radius: 10px;
  z-index: -10;
  background-color: #1f3c53;
  height: 30px;
  transform: translateX(-20px);
}

.footer-section {
  background-color: #1f3c53;
  width: 100%;
  height: 100%;
}

.footer-btn {
  position: absolute;
  top: 10px;
  border: none;
  right: 10px;
  background-color: #1f3c53;
}
.footer-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s ease;
}
.footer-btn a:hover {
  color: #ffae21;
  cursor: pointer;
}
