:root {
  --background-clr: #223341;
  --text-Clr: #ffae21;
}
.exercise-categorie {
  background-color: var(--background-clr);
  width: 75%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
  z-index: 1;
  position: relative;
}
.article {
  margin: 50px;
}

.guide {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.learn-more {
  background-color: var(--background-clr);
  color: white;
  border: none;
  font-size: 1rem;
  transition: 0.3s ease;
}
.learn-more:hover {
  color: var(--text-Clr);
  cursor: pointer;
}

.exercise-categorie {
  /* margin-bottom: 20px; */
}

.categorie-collapse {
  width: 70%;
  height: auto;
  margin: auto;
  padding: 20px 10px;
  margin-bottom: 100px;
  background-color: var(--background-clr);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100px);
  transition: 0.3s ease;
}
.categorie-inside {
  background-color: white;
  height: auto;
  border-radius: 5px;
  display: none;
}
.head {
  text-align: center;
  transform: translateX(-200px) translateY(50px);
}
.collapse-header {
  text-align: center;
  margin-block: 20px;
}
.organize {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}
.exercise-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  text-align: justify;
}
.exercise-inform {
  width: 50%;
}
.close-categorie {
  margin-top: 10px;
  background-color: var(--background-clr);
  border: none;
  color: white;
  transition: 0.3s ease;
  font-size: 1rem;
}
.close-categorie:hover {
  cursor: pointer;
  color: #ffae21;
}

.must-do-exercises {
  display: flex;
  justify-content: space-around;
  width: 90%;
  z-index: 100;
}

.must-do {
  background-color: var(--background-clr);
  border-radius: 10px;
  color: white;
  height: 270px;
  margin-bottom: 100px;
  width: 400px;
  transition: 0.2s ease;
  position: relative;
}
.must-do > img {
  width: 100%;
}

.topic {
  /* margin- margin-left: 10px;block: 5px; */
  margin-left: 10px;
  margin-top: 10px;
}

.describe {
  margin-bottom: 10px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.muscles-selector {
  display: flex;
  flex-direction: column;
  background-color: var(--background-clr);

  border-radius: 10px;
  padding: 10px;
}

.more-exercises {
  background-color: var(--background-clr);
  border: none;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease;
  z-index: 10;
}

.more-exercises:hover {
  color: var(--text-Clr);
  cursor: pointer;
}
.muscles-first {
  color: black;
}

.muscles > img {
  border-radius: 10px 10px 0px 0px;
}
.head {
  color: black;
}
.not-selected {
  /* display: none; */
}
.selected {
  width: 75%;
  text-align: center;
  margin-bottom: 1350px;
  border-radius: 30px;
}

.image-select {
  transition: 0.3s ease;
}

.selected > img {
  color: #2d4a62a9;
  width: 50%;
}
.muscles-first {
  color: black;
  /* background-color: var(--background-clr); */
  /* border-radius: 10px 10px 0px 0px; */
  width: 100%;
}
.exercise-details {
  color: black;
}
.backg-color {
  background-color: white;
}
.muscles {
  display: none;
  border: 10px solid var(--background-clr);
  width: 100%;
  margin: auto;
  border-radius: 10px;
  height: 0px;
  z-index: 100;
  transition: 0.3s ease-in-out;
  background-color: white;
  visibility: visible;
}
.turn-off {
  font-size: 1.5rem;
  border-radius: 20px;
  background-color: var(--background-clr);
  border: none;
  padding: 10px;
  color: white;
  z-index: 10;
  transition: 0.3s ease;
}

.turn-off:hover {
  color: var(--text-Clr);
  cursor: pointer;
}

.muscles-containing {
  transition: 0.3s ease-in-out;
  height: 0px;
  border: 10px solid var(--background-clr);
  background-color: #223341;
  z-index: -100;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  transform: translateY(-50px);
}

.must-do:hover {
  transform: scale(1.05);
}

.selected:hover {
  transform: scale(1);
}

.exercise-inform {
  padding: 20px;
}

.head {
  padding: 20px;
}

.add-schedule,
.add-schedule-main {
  font-size: 1.1rem;
  border: none;
  background-color: #223341;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: white;
  transition: 0.1s ease;
}

.add-schedule:hover,
.add-schedule-main:hover {
  color: var(--text-Clr);
  cursor: pointer;
}
.add-schedule:active,
.add-schedule-main:active {
  transform: scale(0.98);
}

.workout-schedule {
  position: relative;
}

.schedule-choice {
  position: absolute;
  top: 20%;
  left: 36.5%;
  background-color: white;
  border: 5px solid var(--background-clr);
  width: 400px;
  height: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: 0.2s ease;
  border-radius: 10px;
}

.schedule-choice h3 {
  margin: 15px;
  background-color: var(--background-clr);
  padding: 10px;
  color: white;
  border-radius: 10px;
}
.schedule-choice span {
  margin-bottom: 15px;
}
.btn-schedule-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn-schedule-choose {
  padding: 10px;
}

.choose-schedule-btn {
  background-color: var(--background-clr);
  color: white;
  text-align: center;
  border: none;
  font-weight: bolder;
  transition: 0.3s ease;
  padding: 10px;
}
.choose-schedule-btn:hover {
  color: var(--text-Clr);
}
.welcome-container {
  position: absolute;
  top: 40%;
  left: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 1;
  transition: 0.3s ease;
}

.welcome-container span {
  font-size: 1.2rem;
  font-size: bold;
}
.welcome-container h2 {
}
#orange {
  font-size: 1.5rem;
}
.organize-week-btn {
  background-color: var(--background-clr);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease;
  width: 50%;
}

.organize-week-btn:hover {
  color: var(--text-Clr);
  cursor: pointer;
}

.not-chosen {
  display: none;
}

.chosen {
  display: inline;
}

.choose-schedule-btn:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
}

.choose-schedule-btn:nth-child(4) {
  border-radius: 0px 10px 10px 0px;
}
.section-container {
  border: 10px solid var(--background-clr);
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  position: relative;
  border-radius: 10px;
}
.container-header {
  position: absolute;
  top: -1px;
  right: 1px;
  left: 1px;
  background-color: var(--background-clr);
  width: auto;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.section-mssg {
  font-size: 1.1rem;
}

.favorites-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  width: 100%;
  position: inherit;
}

.fav-content {
  border: 1px solid var(--background-clr);
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.fav-content-header {
  text-align: center;
  background-color: #223341;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 25%;
  color: white;
  font-size: 1.2rem;
  border-radius: 0px 0px 10px 10px;
}
