@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto';
  z-index: -1;
}

:root {
  --background-clr: #223341;
  --text-Clr: #ffae21;
}

main {
  height: auto;
}

::-webkit-scrollbar {
  width: 1em;
  /* height: 500px; */
}
::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px var(--background-clr);
  /* border-radius: 10px; */
  background-color: var(--background-clr);
}
::-webkit-scrollbar-thumb {
  background: #244e70;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #32495d;
}
/* ---------------============ styling the first picture ==========---------- */
.first-img {
  margin-top: 5px;
}
.heading-img {
  position: relative;
}

.figure-img {
  position: relative;
  height: 600px;
  max-height: fit-content;
}

.background-clr {
  background-color: var(--background-clr);
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  opacity: 0.5;
}
.first-heading {
  color: white;
  text-align: center;
  position: absolute;
  left: 35%;
  bottom: 30px;
}

.first-heading span {
  font-size: 1.5rem;
}
.first-heading h1 > span {
  font-size: 3rem;
}
.first-heading h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.button-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #223341;
  margin-bottom: 100px;
}
.guide-btn {
  margin-right: 10px;
  margin-left: 40px;
  font-size: 1.2rem;
  border: none;
  padding: 1.5rem;
  background-color: #223341;
  color: white;
  border-radius: 10px;
}

.guide-btn:hover {
  cursor: pointer;
  background-color: #324b5f;
}

.guide-btn:active {
  transform: scale(0.98);
}

.guide-btn:focus {
  background-color: #324b5f;
}
.sport-choice-container {
  margin-top: 100px;
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 90%;

  height: 400px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
.workout-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sport-choice {
  width: 300px;
  height: 350px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-clr);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 10px;
  transition: 0.5s ease;
}
.sport-choice:hover,
.sport-choice button:hover {
  box-shadow: 0px 5px 10px var(--background-clr);
}

.sport-choice span {
  padding: 20px 20px;
  font-size: 1.2rem;
}
.sport-choice button {
  padding: 20px;
  background-color: var(--background-clr);
  border: none;
  color: white;
  font-family: 'Roboto';
  font-weight: 300;
  transition: 0.5s ease;
  font-size: 1.2rem;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(10px);
}

.sport-choice img {
  border-radius: 10px 10px 0px 0px;
}

.sport-choice button:hover {
  color: #ffae21;
  cursor: pointer;
}
.client-details {
  background-color: var(--background-clr);
  padding: 10px 20px 10px 20px;
  height: 700px;
  width: 70%;
  max-width: 90%;
  margin: auto;
  border-radius: 10px;
  position: relative;
}
.bg-clr {
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.re-assess {
  background-color: var(--background-clr);
  border: none;
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 5px;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  transition: 0.3s ease;
  width: 25%;
  margin: auto;
}

.re-assess:hover {
  color: var(--text-Clr);
}

.details {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.edit-change {
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  background-color: var(--background-clr);
  color: white;
  border-radius: 5px;
  transition: 0.3s ease;
}
.user-img div {
  display: flex;
  justify-content: space-between;
}

.user-img {
  margin-bottom: 50px;
}
.default-user {
  border-radius: 50%;
  border: 5px solid var(--background-clr);
}
.print-form {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 10px;
  border: none;
  font-size: 1.2rem;
  background-color: #223341;
  color: white;
  border-radius: 10px;
  transition: 0.3s ease;
}

.edit-change:hover,
.print-form:hover {
  color: var(--text-Clr);
  cursor: pointer;
}

.clicked {
  background-color: #324b5f;
}

.hidden {
  display: none;
}
.active {
  display: flex;
}

.exercises {
  background-color: var(--background-clr);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  max-width: 100%;
  margin: auto;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
  border-radius: 10px;
  /* margin-bottom: 300px; */
  position: relative;
  z-index: 2;
  margin-top: 75px;
}

.exercise-detail {
  width: 40%;
  text-align: justify;
}
.exercise-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100px);
}
.exercise-img img {
  padding-top: 10px;
  padding-bottom: 20px;
}
.img {
  width: 80%;
}
.exercise-img button {
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--background-clr);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  transition: 0.5s ease;
}

.exercise-img button:hover {
  color: var(--text-Clr);
  cursor: pointer;
}

.sport-choice button > a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
}
.sport-choice a:hover {
  color: var(--text-Clr);
}
.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  max-width: 100%;
  margin: auto;
  background-color: var(--background-clr);
  justify-content: space-between;
  margin-bottom: 50px;
  border-radius: 20px;
}

.strength-heading {
  width: 50%;
  font-size: 2.5rem;
  color: white;
  margin-left: 20px;
}

.section-header img {
  border-radius: 0px 10px 10px 0px;
}

.collapse-container {
  background-color: white;
  color: black;
  border: 20px solid var(--background-clr);
  max-width: 70%;
  width: 90%;
  margin: auto;
  max-height: fit-content;

  padding: 20px;
  padding-block: 20px;
  height: auto;

  border-radius: 0px 0px 10px 10px;

  text-align: center;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  transition: 1s ease;
  position: relative;
  transform: translateY(-100px);
  opacity: 1;
}

.close-btn {
  width: 50px;
  position: absolute;
  right: 10px;
  bottom: -40px;
  padding: 10px 20px;
  background-color: var(--background-clr);
  border: none;
  color: white;
  border-radius: 10px;
  transition: 0.6s ease;
}

.close-btn:hover {
  cursor: pointer;
  color: var(--text-Clr);
}
.the-rules {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  /* text-align: justify; */
}

.header-collapse {
  margin-bottom: 20px;
}

.rules {
  display: flex;
  flex-direction: column;
}

.rule-videos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
iframe {
  border-radius: 10px;
}

.stance-description {
  margin-block: 20px;
}
.small-txt {
  font-size: 0.8rem;
}

hr {
  background-color: var(--background-clr);
  z-index: 100;
  height: 5px;
  opacity: 0.5;
  border-radius: 10px;
  width: 100%;
}

.inside-collapse {
  display: none;
}

.containing-details {
  display: flex;
  justify-content: space-between;
}

.inside-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  text-align: right;
  margin-bottom: 25px;
  font-weight: bold;
}
.detail-header {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* .v-row {
  height: 150px;
  transform: translateY(1px) translateX(10px);
  width: 4px;
  border-radius: 10px;
  opacity: 0.5;
  background-color: var(--background-clr);
} */

.header-sep {
  width: 20%;
  margin-bottom: 20px;
}

.choose-again {
  position: absolute;
  bottom: 3%;
  right: 3%;
  background-color: var(--background-clr);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  color: white;
  transition: 0.3s ease;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
.Remove-Exercise {
  background-color: var(--background-clr);
  font-size: 0.7rem;
  font-weight: bold;
  border: none;
  color: white;
  transition: 0.3s ease;
  padding: 10px;
  border-radius: 10px;
}
.Remove-Exercise:hover {
  color: var(--text-Clr);
  cursor: pointer;
}

.choose-again:hover {
  color: var(--text-Clr);
  cursor: pointer;
}
